[submodule "modules/gateway"]
	path = modules/gateway
	url = git@github.com:hyped-text/gateway.git
[submodule "modules/meta"]
	path = modules/meta
	url = git@github.com:hyped-text/meta.git
[submodule "modules/app"]
	path = modules/app
	url = git@github.com:hyped-text/app.git
