[submodule "gateway"]
	path = modules/gateway
	url = git@github.com:hyped-text/gateway.git
[submodule "meta"]
	path = modules/meta
	url = git@github.com:hyped-text/meta.git
[submodule "app"]
	path = modules/app
	url = git@github.com:hyped-text/app.git
[submodule "imports"]
	path = modules/imports
	url = git@github.com:hyped-text/imports.git
[submodule "printer"]
	path = modules/printer
	url = git@github.com:hyped-text/printer.git
